In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf 
from sklearn.model_selection import train_test_split
from sklearn.cluster import k_means

In [2]:
#importing the data sets
retailer_data = pd.DataFrame(pd.read_csv('Retailer.csv'))
product_data = pd.DataFrame(pd.read_csv('Product.csv'))
sales_data1 = pd.DataFrame(pd.read_csv('File 01 - Sales Data.csv'))
sales_data2 = pd.DataFrame(pd.read_csv('File 02 - Sales Data.csv'))

In [6]:
#merge sales_data1 & sales_data2
df = [ sales_data1, sales_data2]
data = pd.DataFrame(pd.concat(df)).sort_values(by=['Date'], ascending=False)

In [7]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1137470 entries, 513320 to 119053
Data columns (total 8 columns):
Retailer Code         1137470 non-null object
Rep                   1137470 non-null object
Product Code          1137470 non-null int64
Date                  1137470 non-null object
Net Sales Qty         1137470 non-null int64
Net Sales Value       1137470 non-null float64
Sales Return Qty      1137470 non-null int64
Sales Return Value    1137470 non-null float64
dtypes: float64(2), int64(3), object(3)
memory usage: 78.1+ MB
None

In [8]:
print(retailer_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6118 entries, 0 to 6117
Data columns (total 5 columns):
Retailer Code       6110 non-null object
Sub Ret Cat Name    5872 non-null object
Zone Name           6110 non-null object
Region Name         6110 non-null object
Territory Name      6118 non-null object
dtypes: object(5)
memory usage: 239.1+ KB
None

In [9]:
print(product_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 5 columns):
Product Code               457 non-null int64
Product Description        457 non-null object
Product Group Name         457 non-null object
Brand Name                 457 non-null object
Sub Product Description    457 non-null object
dtypes: int64(1), object(4)
memory usage: 17.9+ KB
None

In [19]:
prod = data.groupby(data['Product Code']).sum()
print(prod.head())

              Net Sales Qty  Net Sales Value  Sales Return Qty  \
Product Code
500003                  925        153057.56                51
500004                 1344        347075.10                63
500031                    2           161.44                20
500034                  395        156600.55                33
500047                   51          3201.78                33

              Sales Return Value
Product Code
500003                   8255.07
500004                  16154.04
500031                   1614.40
500034                  13116.28
500047                   2071.74